

body {
    background-color:#F3F5FC;
    height: 100vh;
    box-sizing: border-box;
}

.principal {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    gap: 80px;
}

.inter> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 38px;
    font-style: normal;
}

.Logo {
    width: 100%;
    /*height: auto;*/
    margin-top: 40px;
    margin-left: 40px;
}

.seccionLeft{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.cuadro_entrada {
    width: 680px;
    height: 637px;
    border-radius: 3px;
    background-color: #F3F5FC;
    border: none;
    color: #0A3871;
    padding: 2rem;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    margin-left: 240px;
    margin-top: 40px;
    text-transform: lowercase;
}

.cuadro_entrada:focus{
    outline: none;
}

#textoUsuario::placeholder{
    color: #0A3871;
}

.advertisment{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 240px; 
    padding: 16px;
}

.container_boton{
    display: flex;
    flex-direction: row;
    margin-left: 288px;
    margin-top: 0;
    gap: 24px;
}

.boton1{
    font-family: "Inter", sans-serif;
    border-radius: 24px;
    background: #0A3871;
    padding: 24px 0;
    width: 328px;
    font-size: 16px;
    border: none;
    text-decoration: none;
    color:#ffffff;
}

.boton2{
    font-family: "Inter", sans-serif;
    border-radius: 24px;
    background: #D8DFE8;
    padding: 24px 0;
    width: 328px;
    font-size: 16px;
    border-color: #0A3871;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    color:#0A3871;
}

.boton3{
    font-family: "Inter", sans-serif;
    border-radius: 24px;
    background: #D8DFE8;
    display: flex;
    justify-content: center;
    padding: 24px 0;
    width: 250px;
    font-size: 16px;
    border-color: #0A3871;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    color:#0A3871;
}

.boton4{
    font-family: "Inter", sans-serif;
    border-radius: 24px;
    background: #D8DFE8;
    display: flex;
    justify-content: center;
    padding: 24px 0;
    width: 250px;
    font-size: 16px;
    border-color: #0A3871;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    color:#0A3871;
}

#background-image {
    display: none;
}

.cuadro_salida {
    width: 400px;
    height: 910px;
    margin-top: -40px;
    border-radius: 3px;
    background: rgba(255, 255, 255, .9);
    border: none;
    color: #0A3871;
    padding: 2rem;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    border-radius: 32px;
}

.cuadro_salida:focus{
    outline: none;
}

.texto_salida {
    background: #ffffff;
    background-image: url(/Archivos/Muneco_agrupado.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 340px;
    height: 730px;
    margin-top: 5px;
    border-radius: 3px;
    border: none;
    color: #0A3871;
    padding: 2rem;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    border-radius: 32px;
}

.texto_salida:focus{
    outline: none;
}

.footer{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 250px; 
    padding: 16px;
}

.container_boton2{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 0;
    gap: 24px;
}




@media (max-width: 769px){
    .principal{
        flex-direction: column;
    }
    .advertisment{
        display: flex;
        flex-direction: row;
        width: 400px;
        gap: 8px;
        margin-left: 100px; 
        padding: 2px;
    }
    .container_boton{
        display: flex;
        flex-direction: row;
        width: 500px;
        margin-left: 50px;
        margin-top: 0;
        gap: 24px;
    }

    .cuadro_salida {
        width: 688px;
        height: 200px;
        margin-top: -40px;
        border-radius: 3px;
        background: rgba(255, 255, 255, .9);
        background-image: url(/Archivos/Muneco.png);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        color: #0A3871;
        padding: 2rem;
        font-size: 32px;
        font-family: "Inter", sans-serif;
        border-radius: 32px;
    }
    
    .footer{
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-left: 100px; 
        padding: 16px;
    }
}


@media (max-width: 390px){
    .principal{
        flex-direction: column;
    }
    .advertisment{
        display: flex;
        flex-direction: row;
        width: 280px;
        gap: 8px;
        margin-left: 20px; 
        padding: 2px;
    }
    .footer{
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-left: 20px; 
        padding: 16px;
    }
}

